.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
    .top,
    .bottom {
        border-bottom: 1px solid #eee;
    }
    .top {
        .row {
            align-items: center;
            justify-content: space-between;
            height: 60px;
        }
        .left {
            display: flex;
            align-items: center;
            gap: 16px;
        }
        .right {
            display: flex;
            align-items: center;
            .item {
                display: flex;
                align-items: center;
                height: 36px;
                padding: 12px;
                transition: var(--transitionSlow);
                font-size: 12px;
                font-weight: 500;

                &:hover {
                    background: #f5f5f5;
                    border-radius: 99rem;
                }
            }
        }
    }
    .bottom {
        .row {
            height: 55px;
            align-items: center;
        }
        .item {
            display: flex;
            align-items: center;
            height: 40px;
            padding: 10px;
            transition: var(--transitionSlow);
            font-size: 14px;
            font-weight: 500;

            &:hover {
                background: #f5f5f5;
                border-radius: 99rem;
            }
        }
        .border {
            background-color: #eee;
            display: block;
            height: 16px;
            width: 1px;
            margin: 0 10px;
        }
    }

    .search {
        position: relative;
        width: 280px;
        height: 40px;
        .search {
            &Btn {
                height: 40px;
                width: 38px;
                border: none;
                background: transparent;
                position: absolute;
                top: 0;
            }
            &Input {
                background-color: #f5f5f5;
                border: 1px solid #fff;
                border-radius: 99rem;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                caret-color: var(--secondColor);
                font-size: 14px;
                height: 100%;
                overflow: hidden;
                padding-left: 38px;
                padding-right: 12px;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
                transition: var(--transitionFast);

                &:hover,
                &:focus {
                    border-color: var(--secondColor);
                    background-color: #fff;
                }
            }
        }
    }

    .languages,
    .currency {
        gap: 4px;
        cursor: pointer;
        .flag,
        .arrowDown {
            display: flex;
            align-items: center;
        }
    }

    .subNav,
    .customerBox {
        display: flex;
        align-items: center;
    }

    .customerBox {
        a {
            font-weight: 600;
        }
        .login {
            margin-left: 8px;
            background-color: var(--secondColor);
            border-radius: 99rem;
            color: #fff;
            &:hover {
                background-color: var(--secondColor) !important;
            }
        }
    }

    .whereToGo {
        display: flex;
        align-items: center;
        background-color: #f5f5f5;
        border-radius: 99rem;
        padding: 0 10px;
        height: 40px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
        span {
            padding-left: 4px;
        }
    }

    .moreBtn {
        display: flex;
        justify-content: space-between;
        padding: 0 14px;
        position: relative;
        &:before {
            background: #000;
            border-radius: 50%;
            content: "";
            display: block;
            height: 3px;
            width: 3px;
            position: absolute;
            top: 50%;
            left: 6px;
            transform: translateY(-50%);
        }
        &:after {
            background: #000;
            border-radius: 50%;
            content: "";
            display: block;
            height: 3px;
            width: 3px;
            position: absolute;
            top: 50%;
            right: 6px;
            transform: translateY(-50%);
        }
        span {
            background: #000;
            border-radius: 50%;
            display: block;
            height: 3px;
            width: 3px;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .voucher {
        display: flex;
        align-items: center;
        img {
            height: 24px;
            margin-right: 6px;
            width: 24px;
        }
    }
}
